
@{
    ViewBag.Title = "Course Management";
    var courses = ViewBag.courses as IEnumerable<Course>;
}
<style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #f15a2b;
    }

    a:not([href]):not([tabindex]) {
        color: #f15a2b;
    }
</style>
<h3 class="text-dark" data-aos="fade-up" data-aos-duration="3000">Management &gt; Course</h3>
<a class="btn btn-primary " style="text-decoration-color: none" asp-controller="Course" asp-action="Create" data-aos="fade-up" data-aos-duration="3000">New Course</a>
<div class=" table-responsive" data-aos="fade-up" data-aos-duration="3000"> 
    <table class="table table-bordered table-striped table-hover mt-2 text-center  " style="width: auto; "   id="table">
        <thead style="background-color: #282880">
            <tr class="text-center text-light">
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          
            @foreach (var course in courses)
            {
                var image = $"/images/{(course.image)}";
                <tr class="text-dark">
                    <td>@course.courseId</td>
                    <td>@course.name</td>
                    <td><img src="@image" style="height :50px; width:50px" /></td>
                    <td>@course.price</td>
                    <td style="overflow-x: hidden; ">@course.description</td>
                    <td>
                        <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.courseId" class="btn btn-warning">Edit</a>

                    </td>
                </tr>
            }

        </tbody>
    </table>
    </div>
    @section Scripts{
        <script>
            $('#table').dataTable({
            }); 
            AOS.init();
            (function ($) {
                "use strict";
                var path = window.location.href;
                $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function () {
                    if (this.href === path) {
                        $(this).addClass("active");
                    }
                });
                $("#sidebarToggle").on("click", function (e) {
                    e.preventDefault();
                    $("body").toggleClass("sb-sidenav-toggled");
                });
            })(jQuery);
        </script>
    }
